/* Work Sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;600;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

}

.nav-tittle {
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;
}

nav > ul {
     display: flex;
 
}

nav li {
    padding-right: 20px;
    padding-left: 20px;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
}

nav li a {
  text-decoration: none;
    color: #424242;
}
/* banner styles */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-tittle {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    font-weight: 400;
}

.btn-primary {
    color: white;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    cursor: pointer;
    border: 0;
}

.banner img {
    width: 100%;
    padding-top: 50px;
}


/* main styles */

main {
    max-width: 1440px;
    margin: 0 auto;
}

.teams-container {
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.teams-img-container {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.teams-content {
    padding-left: 70px;
    padding-right: 80px;

}

.teams-tittle {
    font-size: 2.8rem;
}

.first-span {
    color: #727272;
    font-weight: 500;
}

.second-span {
    color: #131313;
    font-weight: 700;
}

.third-span {
    color: #FF900E;
    font-weight: 700;
}

.teams-description {
    color: #727272;
    font-weight: 400;
    line-height: 26px;
    width: 537px;
}

/* features style*/
.features {
    margin-top: 100px;
    display: flex;
    gap: 100px;
}

.features .features-tittle {
    border-left: 5px solid #FF900E;
    padding-left: 5px;
}

.features-tittle {
    width: 468px;
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.features-description {
    width: 586px;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.box {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}

.box-tittle {
    color: #131313;
    font-size: 1.5rem;
    font-weight: 500;
}

.box-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 500px;
}

.ten-years-badge {
    padding: 20px;
    color: #FFF;
    border-radius: 8px;
    background: #FF900E;
    width: 220px;
    height: 120px;
    text-align: center;
    position: relative;
    bottom: 120px;
}

.ten-years-badge h2 {
    font-size: 2.5rem;
    margin-top: 0%;
}

.ten-years-badge p {
    font-size: 1.4rem;
}

.features-img img {
    height: 90%;
    width: 100%;
}

/* facts style  */
.facts-tittle {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
}

.facts-description {
    color: #727272;
    font-size: 16px;
    width: 542px;
    font-weight: 400;
    line-height: 26px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.card-stats {
    color: #424242;
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-tittle {
    color: #727272;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 5px;
}

/* sponsors style */
.sponsors {
    margin-top: 80px;
    justify-content: center;
    text-align: center;
}

.sponsors-tittle {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.sponsors-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.sponsors-img {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

/* footer styles */

footer {
    margin-left: 240px;
    margin-right: 240px;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    background: #FFF4E7;
    width: 1000px;
    height: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    padding: 20px;
    color: #424242;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 200;
}

/* responsive media query */

/* mobile or simple media query */
@media screen and (max-width:576px) {

  
}


/* medium or tablet media query */
@media screen and (min-width:576) and (max-width:960) {

  

}